/* Reset */
* {
  box-sizing: border-box;
}

/* Γενικές ρυθμίσεις */
body {
  margin: 0;
  padding: 2rem 1rem;
  font-family: 'Inter', sans-serif;
  background-color: #dc9b9b;
  overflow-x: hidden;
  
}


p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #333;
  font-size: 1.8rem;
  line-height: 1.6;
}

.fake-bullets p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  margin: 0.2rem 0;
  padding-left: 1rem;
}

/* Το “χαρτί” */
.container {
  max-width: 1600px;  /* όσο χρειάζεται για τα iframe σου */
  margin: 0 auto;
  padding: 2.5rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}

/* Τίτλοι */

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #1e2a33; /* similar dark gray-blue */
  font-size: 4rem;
}

.subtitle {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2.7rem;
  color: #dc9b9b;
  margin-top: 0rem;
  margin-bottom: 5rem;
}
.caption {
  font-family: 'Merriweather', serif;
  font-size: 1.8rem;
  color: #797979;
  font-style: italic;
  font-weight: 100;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #953b3b; /* similar dark gray-blue */
  font-size: 2.5rem;
}

/* Εικόνες */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* Τα default iframe (αυτά χωρίς custom inline style) */
iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: none;
  overflow: hidden;
}
.plot-container {
  background: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 8px;
}


/* Footer */
footer {
  margin-top: 4rem;
  text-align: center;
}

footer p {
  font-family: 'Merriweather', serif;
  font-size: 1.8rem !important;
  color: #797979;
  font-style: italic;
  line-height: 1.4;
}
